body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin: 0px !important;
}
.list-inline > li:first-child {
    padding-left: 10px;
}
li.product-grid-item {
    margin-bottom: 30px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.product-information {
    padding: 12px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.uui-card_component {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #eaecf0;
    border-radius: 1rem;
    background-color: #fff;
    -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: transform 200ms ease, box-shadow 200ms ease;
    transition: transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    text-decoration: none;
}
.uui-card_component:hover {
    box-shadow: 0 12px 24px -12px rgba(16, 24, 40, 0.16);
    -webkit-transform: translate(0px, -2px);
    -ms-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
}
.uui-card_image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 55%;
    background-color: #f2f4f7;
}
.uui-card_image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: inline-block;
    max-width: 100%;
}
.uui-card_gradient {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    height: 33.333333333%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33.3333%, rgba(242, 244, 247, 0)), to(#f2f4f7));
    background-image: linear-gradient(180deg, rgba(242, 244, 247, 0) 33.3333%, #f2f4f7);
}
.uui-text-color-gray900 {
    color: #101828;
}
.uui-text-size-medium {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #475467;
    font-size: 16px;
    font-weight:600;
    /* font-size: 1rem; */
    line-height: 1.5;
    letter-spacing: normal;
}
.uui-text-size-small {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #475467;
    font-size: 14px;
    /* font-size: 0.875rem; */
    line-height: 1.5;
    letter-spacing: normal;
}
h3 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #101828;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.02em;
}
.uui-card_footer {
    padding: 1.25rem;
}
.uui-components_list {
    display: -ms-grid;
    display: grid;
    width: 100%;
    justify-items: stretch;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

*:hover { text-decoration: none !important; }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }